.react-resizable {
  position: absolute;
}

.react-resizable-handle-w,
.react-resizable-handle-e {
  cursor: ew-resize;
  opacity: 0;
}

* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
